@inherits LayoutComponentBase
@*<div class="sidebar">
        <NavMenu />
    </div>*@

<div>
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4">
        @*<a href="http://svcndalcodeco:8080/ui" target="_blank">Code Collaborator</a>*@
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>
